body {
  margin: 0px;
  padding: 0px;
  background-color: #2c2f33 !important;
}

#particles-js{
  height: 100%;
  background: #f00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 60px;
  overflow: hidden;
  background-color: #23272a;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgba(0, 0, 0, 0.5)
}

@media only screen and (max-width: 600px) {
  #icon{
    display:none;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  #title{
    font-size: 25px !important;
    letter-spacing: 1px !important;
  }
  .description{
    font-size: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0px !important;
  }
  .table-box{
    font-size: 10px !important;
    padding: 5px !important;
  }
  .command-name{
    font-size: 15px;
  }
  .image-box{
    width: 90% !important;
  }
}

.name {
  -webkit-animation: colorchange 20s infinite alternate;
  display: inline-block;
}

.description {
  text-align: center;
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 75px;
  padding-bottom: 75px;
  color: rgb(255, 255, 255);
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  font-size: 25px;
}

.seperator-container{
  height: 200px;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.seperator{
  width: 80%;
  height: 10px;
  top: 50%;
  border-bottom-color: #3b3f44;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: inline-block;
  position: relative;
}

.image-container{
  margin: 20px;
  padding-top: 50px;
  text-align: center;
  height: 500px;
}

.image-box{
  display: inline-block;
  width: 25%;
  padding-left: 25px;
  padding-right: 25px;
}

.image{
  padding: 10px;
  width: 100%;
  
}

.image-description{
  color: white;

}

.image-button{
  position: relative;
  width: 30px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  background-color: #1a1b1c;
  border-radius: 10%;
  border-color: transparent;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  top: 30%;
}

.image-button:hover{
  background-color:  #252628;
}

.command-name{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 25px;
  font-size: 400%;
  color: white;
}

.command-name-box{
  border-bottom-style: groove;
  border-bottom-width: 5px;
  border-bottom-color: gray;
  margin-left: 50px;
  margin-right: 50px;
}

.command-description-box{
 margin: 50px;
}

.command-description{
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
}

.description-box {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: inline-block;
  font-size: 75px;
  text-align: center;
}

#title {
  font-size: 75px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 7px;
}

.h1-box {
  text-align: center;
  padding: 50px;
  font-size: 750px;
  margin: 0px;
  color: white;
}

.h1-description{
  font-size: 20px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: left;
}

b {
  font-weight: 900
}

.text-box {
  text-align: left;
  color: white;
  margin-top: 50px;
  margin-left: 250px;
  padding: 12px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 800px;
  display: inline-block;
  box-shadow: inset 0 0 px #000000;
  line-height: 30px;
  letter-spacing: 2.5px;
}

.table-box {
  text-align: center;
  display: block;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

#command{
  display: inline-block;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  font-weight: 100;
  border-right: .15em solid white;
  animation: 
  blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}


.command-box{
  text-align:center;
  padding: 0px;
}

.buttons{
  text-align: center;
}

#invite-button{
  padding: 25px;
  border-radius: 5%;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 100px;
}
#invite-button:hover{
  background-color: transparent;
}

.table {
  background-color: transparent !important;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@-webkit-keyframes colorchange {
  0% {

    color: blue;
  }

  10% {

    color: #8e44ad;
  }

  20% {

    color: #1abc9c;
  }

  30% {

    color: #d35400;
  }

  40% {

    color: blue;
  }

  50% {

    color: #34495e;
  }

  60% {

    color: blue;
  }

  70% {

    color: #2980b9;
  }

  80% {

    color: #f1c40f;
  }

  90% {

    color: #2980b9;
  }

  100% {

    color: pink;
  }
}